image==1.5.33
ImageHash==4.3.1
filetype
libgl1
imageio==2.33.1
regex
sqlparse
SQLAlchemy
PyMySQL
mysql-connector
mysql-connector-python
easyocr
streamlit
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.4
streamlit-faker==0.0.3
streamlit-icon-component==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-lottie==0.0.5
streamlit-metrics==0.1.0
streamlit-option-menu==0.3.6
streamlit-pandas==0.0.9
streamlit-pandas-profiling==0.1.3
streamlit-player==0.1.5
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
opencv-python
image
pandas
