altair==4.2.0
annotated-types==0.7.0
asttokens==2.4.1
attrs==24.2.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
Bottleneck==1.4.1
Brotli==1.1.0
cachetools==5.5.0
captcha==0.6.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
confuse==2.0.1
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
easyocr==1.7.1
entrypoints==0.4
exceptiongroup==1.2.2
executing==2.1.0
extra-streamlit-components==0.1.71
Faker==30.3.0
favicon==0.7.0
filelock==3.16.1
filetype==1.2.0
fonttools==4.54.1
fsspec==2024.9.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2==2.1.5
greenlet==3.1.1
h2==4.1.0
hpack==4.0.0
htbuilder==0.6.2
htmlmin==0.1.12
hyperframe==6.0.1
idna==3.10
imagecodecs==2024.6.1
ImageHash==4.3.1
imageio==2.36.0
importlib_metadata==7.2.1
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lazy_loader==0.4
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
missingno==0.5.2
more-itertools==10.5.0
mpmath==1.3.0
multimethod==1.4
munkres==1.1.4
mysql-connector-python==9.1.0
narwhals==1.9.3
nest_asyncio==1.6.0
networkx==3.4.1
numpy==1.26.4
opencv-python==4.10.0
opencv-python-headless==4.10.0
packaging==24.1
pandas==1.5.3
pandas-profiling==3.0.0
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
phik==0.12.3
pickleshare==0.7.5
pillow==10.4.0
pip==24.2
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==5.24.1
prometheus_client==0.21.0
prompt_toolkit==3.0.48
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyclipper==1.3.0.post5
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.8.0b4
Pygments==2.18.0
PyJWT==2.9.0
pymdown-extensions==10.11.2
Pympler==1.1
PyMySQL==1.1.1
pyparsing==3.2.0
PySocks==1.7.1
python-bidi==0.6.0
python-dateutil==2.9.0
python-dotenv==1.0.1
pytz==2024.1
PyWavelets==1.7.0
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
rich==13.9.2
rpds-py==0.20.0
scikit-image==0.24.0
scipy==1.14.1
seaborn==0.13.2
semver==3.0.2
setuptools==75.1.0
shapely==2.0.6
six==1.16.0
smmap==5.0.0
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.5.1
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data==0.6.2
statsmodels==0.14.4
streamlit==1.39.0
streamlit-authenticator==0.4.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.0
streamlit-option-menu==0.4.0
streamlit_pandas==0.0.9
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
style==1.1.0
sympy==1.13.3
tangled-up-in-unicode==0.2.0
tenacity==9.0.0
tifffile==2024.9.20
toml==0.10.2
toolz==1.0.0
torch==2.4.1
torchvision==0.19.1a0+5ed21bd
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
update==0.0.1
urllib3==2.2.3
validators==0.34.0
visions==0.7.1
watchdog==5.0.3
wcwidth==0.2.13
wheel==0.44.0
widgetsnbextension==4.0.13
zipp==3.20.2
zstandard==0.23.0
